


/* RESETS ------------------------------------------ */

* {
    box-sizing: border-box;
}
  
h1, h2, p, ul {
    margin: 0;
    padding: 0;
}

p, a {
    font-family: "M PLUS Rounded 1c", sans-serif;
    font-size: 0.875rem;
    text-decoration: none;
}

ul {
    list-style-type: none;
}
  
img {
    display: block;
    height: auto;
    max-width: 100%;
}



/* BODY ------------------------------------------ */

body {
    background-color: #FFF7F7;
    color: #24292D;
    transition: all 0.5s;
}

body.switch {
    background-color: #32363F;
    color: #FFF7F7;
}

#container {
    position: relative;
    width: 100%;
    max-width: 1366px;
    min-width: 900px;
    margin: 1em auto;
    padding-top: 1em;
}

header, section {
    border: 2px solid #32363F;
    border-radius: 1.5em;
}

header.switch, section.switch{
    border: 2px solid #141617;
}

/* TEXT ------------ */

h1, h2 {
    font-family: "Young Serif", serif;
}

h1 {
    font-size: 2.5rem;
}





/* HEADER / BANNER ------------------------------------ */

header {
    margin: auto;
    width: 1100px;
    height: 250px;
    overflow: hidden;
}

header p {
    color: #24292D;
}

header.switch p {
    color: #FFF7F7;
}

#website {
    background-color: #24292D;
    display: flex;
    justify-content: space-around;
    align-items: center;
    height: 50px;
    padding: 0 1em;
}

#website img {
    height: 1em;
}

#website.switch {
    background-color: #24292D;
}

#website.switch p {
    color: #24292D;
}

#searchbar {
    background-color: #FFF7F7;
    border-radius: 5em;

    display: flex;
    justify-content: space-between;
    align-items: center;

    width: 50%;
    height: 50%;
    padding: 0 1em 0 1.7em;
}

.icon {
    width: 20px;
    height: 20px;
    transition: transform 0.3s ease-in-out;
}

.icon:hover {
    transform: scale(1.2);
}

/* navbar icons */
#leftarrow { background: url("images/leftarrow.svg") no-repeat center/contain; }
#rightarrow { background: url("images/rightarrow.svg") no-repeat center/contain; }
#refresh { background: url("images/refresh.svg") no-repeat center/contain; }
#home { background: url("images/home.svg") no-repeat center/contain; }
#search { background: url("images/search.svg") no-repeat center/contain; }
#heart { background: url("images/heart.svg") no-repeat center/contain; }
#download { background: url("images/download.svg") no-repeat center/contain; }
#account { background: url("images/account.svg") no-repeat center/contain; }
#menu { background: url("images/menu.svg") no-repeat center/contain; }

/* --------------- */

#switch {
    background-color: #32363F;
    color: #FFF7F7;
    border: none;
    border-radius: 20px;

    position: absolute;
    top: 40px;
    right: 0;
    padding: 10px;
    transition: all 0.5s ease-in-out;
}

button:hover {
    transform: scale(1.2);
    cursor: pointer;
}

button.switch {
    color: #32363F;
    background-color: #FFF7F7;
}

button img {
    transition: transform 0.5s ease-in-out;
    opacity: 1
}

button:hover img {
    transform: rotate(180deg);
}

/* --------------- */

#banner {
    display: flex;
    gap: 12em;
    justify-content: center;
    align-items: center;
}

#bannertext {
    text-align: left;
    line-height: 2.5em;
}



/* SECTIONS ------------------------------------------ */

main {
    display: flex;
    gap: 30px;
    justify-content: space-between;
    margin: 2em auto;
    width: 1100px;
}

section {
    overflow: hidden;
    width: 100%;
    flex: 1;
}

nav {
    padding: 0 2em 1.3em 2em;
}

.heading {
    background-color: #24292D;
    height: 30px;
    padding: 2em;
    margin-bottom: 1em;
}

h2 {
    color: #fff7f7;
    font-size: 1.25rem;
    margin-bottom: 1em;
}

#left-container, #right-container {
    display: flex;
    flex-direction: column;
    gap: 20px;
    flex: 1;
}

/* LISTS --------------- */

ul {
    line-height: 2em;
}

#research ul, #development ul {
    line-height: 3em;
}

section a {
    color: #24292D;
    position: relative;
    padding-bottom: 0.3em;
    transition: font-weight 0.3s ease;
}

section.switch a {
    color: #FFF7F7;
}

a:hover {
    font-weight: 700;
}

section.switch a::after {
    background-color: #fff7f7;
}

section.switch a:hover::after {
    background-color: #fff7f7;
}

a::after {
    background-color: #24292D;
    content: '';
    position: absolute;
    bottom: 0;
    left: 0;
    width: 0;
    height: 1.5px;
    transition: width 0.3s ease-out;
}

a:hover::after {
    width: 100%;
}

/* CONTACT --------------- */

#contact nav {
    display: flex;
    gap: 20px;
    justify-content: center;
    align-items: center;
    padding-top: 1em;
}

#contact nav div {
    width: 20px;
    height: 20px;
}

.socials {
    background-color: #24292D;
    border: none;
    border-radius: 50px;
    padding: 1em 1em 0.8em 1em;

    display: grid;
    place-content: center;
    transition: transform 0.5s ease;
}

.socials:hover {
    transform: scale(1.2);
}

#insta { background: url("images/insta.svg") no-repeat center/contain; }
#linkedin { background: url("images/linkedin.svg") no-repeat center/contain; }
#email { background: url("images/email.svg") no-repeat center/contain; }