


/* RESETS ------------------------------------------ */

* {
    box-sizing: border-box;
}
  
h1, h2, p, ul {
    margin: 0;
    padding: 0;
}

p, a, span {
    font-size: 0.875rem;
    text-decoration: none;
}

ul {
    list-style-type: none;
}
  
img {
    display: block;
    height: auto;
    max-width: 100%;
}





/* PC SCREEN ------------------------------------------ */

body {
    position: relative;
    margin: 0;
    width: 100vw;
    height: 100vh;
    font-family: "aktiv-grotesk-condensed", sans-serif;
    overflow: hidden;
}

h1 {
    font-weight: 700;
    font-size: 6rem;
    position: absolute;
    top: 45%; left: 50%;
    pointer-events: none;
    transform: translate(-50%, -50%);
}

#screen {
    position: relative;
    width: 100vw;
    height: 100vh;
    background-color: #FFF8EB;
    overflow: hidden;
    
}

/* ICON ----- */

#desktop-icon {
    display: flex;
    flex-direction: column;
    align-items: center;

    color: white;
    cursor: pointer;

    position: absolute;
    top: 30px; left: 30px;
}

#icon {
    background: url(images/icon.svg) center/contain no-repeat;
    width: 3em; 
    height: 3em;
}

#desktop-icon img {
    width: 3em; height: 3em;
    display: block;
    margin: auto;
}

#desktop-icon p {
    color: #1E2F3F;
    font-size: 0.9rem;
    font-weight: 500;
    margin-top: 0.5em;
}

/* FOOTER ----- */

#taskbar {
    background-color: #1E2F3F;
    color: white;

    display: flex;
    align-items: center;
    justify-content: space-between;

    position: absolute;
    bottom: 0;
    
    width: 100%;
    height: 50px;
    padding: 0 20px;
}

#home {
    font-size: 1.3rem;
    z-index: 999;
    transition: transform 0.3s ease;
}

#home:hover {transform: scale(1.2);}

.fa-solid {
    color: white;
    cursor: pointer;
    pointer-events: all;
}
    
.clock {
    font-size: 14px;
}





/* GAME ------------------------------------------ */

#judgment {
    background-color: #0b1620; 
    border-radius: 15px;
    width: 100vw;
    height: 100vh;
    overflow: hidden;
    pointer-events: none;

    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    z-index: 100;

    opacity: 0;
    transition: opacity 1s ease-in;
}

#judgment.visible {
    opacity: 1;
    pointer-events: all;
}

.hidden {
    opacity: 0;
    pointer-events: none;
}

/* LOADING SCREEN ----- */

#loading-screen {
    background-color: black;
    color: white;
    font-size: 1.5rem;

    position: fixed;
    top: 0; left: 0;
    z-index: 99;

    display: flex;
    justify-content: center;
    align-items: center;

    width: 100vw;
    height: 100vh;
    
    opacity: 0;
    pointer-events: none;
  }
  
#loading-screen.active {
    opacity: 1;
    pointer-events: all;
}

#loading-screen p {
    font-size: 1rem;
    animation: loading 1s infinite;
}

@keyframes loading {
    0% {transform: scale(1);}
    50% {transform: scale(1.08);}
    100% {transform: scale(1);}
}
  
/* GAME WINDOW ----- */

#window {
    background-color: #FFF8EB;
    width: 100%;
    height: 30px;
    position: absolute;
    user-select: none;
    touch-action: none;
}

#window button {
    background-color: #FF5F57;
    border: none;
    width: 40px;
    height: 100%;
}

h2 {
    color: #FFF8EB;
    font-size: 12rem;
    position: absolute;
    top: 25%; left: 50%;
    transform: translate(-50%, -50%);
}

#window p {
    color: #FFF8EB;
    text-align: center;
    width: 50%;
}
